DrinkInfoPanel {
    //transform: scaleX(-1);
    //background-image: url(img/drink_panel.png);
    //background-size: 140px 27px;
    //background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 12px;
    width: 100px;
    height: 50px;
    transition: all .15s ease;
}

.drink {
    display: flex;
    padding: 3.5px;
    transform-origin: center;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 11.2px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}